div.col-md-6 {
  padding: 5%;
}

body {
  text-align: center;
  background-image: url("../images/stockmarket.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top;
  background-size: cover;
}
